include *.in
include src/version.py.in
exclude src/version.py
include configure
include README
include NEWS
include COPYING
include doc/Makefile
include doc/rubber.texi
recursive-include doc *.1
recursive-include data *
