Source: rubber
Section: tex
Priority: optional
Maintainer: Emmanuel Beffara <manu@beffara.org>
Uploaders: Baruch Even <baruch@debian.org>
Build-Depends-Indep: debhelper (>> 5.0.0), python-dev (>= 2.2), texinfo
Standards-Version: 3.6.2

Package: rubber
Architecture: all
Depends: ${python:Depends}, tetex-bin | texlive-latex-base
Suggests: imagemagick, transfig, sam2p
Description: an automated system for building LaTeX documents
 This is a building system for LaTeX documents. It is based on a routine that
 runs just as many compilations as necessary. The module system provides a
 great flexibility that virtually allows support for any package with no user
 intervention, as well as pre- and post-processing of the document. The
 standard modules currently provide support for bibtex, dvips, dvipdfm,
 pdftex, makeindex. A good number of standard packages are supported,
 including graphics/graphicx with automatic conversion between various
 graphics formats and Metapost compilation.
 .
 Homepage: http://www.pps.jussieu.fr/~beffara/soft/rubber/
